/*==================Nav bar=====================*/
.nav{
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 252, 252);
    box-shadow: 1px 0 10px 0;
}
.nav .logo{
    width: 15%;
    height: 100%;
}
.nav .logo img{
    height: 100%;
    width: 70%;
}

/*====================Home page==================*/
.main{
    height: 80vh;
    width: 100%;
}
.main img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}